---
import PerformanceCarousel from "./PerformanceCarousel.svelte";
import { performances } from "../../data/performances";

const upcomingPerformances = performances
  .filter((perf) => {
    const perfDate = new Date(perf.date);
    perfDate.setHours(0, 0, 0, 0);
    const today = new Date("2024-12-21"); // Using provided current date
    today.setHours(0, 0, 0, 0);
    return perfDate >= today;
  })
  .sort((a, b) => new Date(a.date).getTime() - new Date(b.date).getTime());
---

<div class="relative">
  <PerformanceCarousel client:load performances={upcomingPerformances} />
</div>
