---
import "@fontsource/playfair-display";
import "@fontsource/inter";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Alberto Dolfi - Composer, Pianist, and Lecturer"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-primary text-secondary">
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Inter", sans-serif;
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Playfair Display", serif;
	}
</style>
